#Flask Framework
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.27

# Werkzeug for WSGI applications
Werkzeug==2.0.3

# Flask-CORS for handling Cross-Origin Resource Sharing
Flask-Cors==3.0.10

#  Used for managing environment variables
python-dotenv==0.21.0


# For generating and verifying JSON Web Tokens (JWTs) for authentication
PyJWT==2.3.0