# Flask Framework
Flask==2.0.3

# Werkzeug for WSGI applications
Werkzeug==2.0.3

# Flask-CORS for handling Cross-Origin Resource Sharing
Flask-Cors==3.0.10

# Used for managing environment variables (e.g., for SECRET_KEY)
python-dotenv==0.21.0

# --- ADDED FOR JWT ---
PyJWT==2.3.0

# --- ADDED FOR DATABASE ---
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.27